@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Indie+Flower&family=Kalam:wght@300;400&family=Lobster+Two&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Racing Sans One','Zen Dots',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordian-text {
  font-family: 'Chakra Petch';
}

h1 {
  font-family: 'Chakra Petch';

}

h2 {
  font-family: 'Chakra Petch';

}

.navbar {
  font-family: 'Chakra Petch';
}

.navbar-toggler {
  color: white;
}

.dropdown-item {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner {
  color: white;

}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
}

h3 {
  font-family: 'Chakra Petch';
  text-align: center;
}

h4 {
  font-family: 'Chakra Petch';
  text-align: center;
}
